body{
    background-color: #040b1a;
}

.menu{
    border: 1px solid #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #182947;
    margin-left: 150px;
    margin-right: 150px ;
    color: #fff;
    text-shadow: 3px 3px 3px black;
}

.logo img{
    position: fixed;
    bottom: 4px;
    right: 6px;
    transition: ease-in-out .5s;
}

.logo :hover img{
    width: 100px;
    border-radius: 10%;
    background-color: #030814;
    transition: ease-in-out .5s;
}

.contacto img{
  position: fixed;
  bottom: 4px;
  left: 6px;
  transition: ease-in-out .5s;
}

.contacto :hover img{
  width: 100px;
  border-radius: 10%;
  background-color: #030814;
  transition: ease-in-out .5s;
}

.subTit{
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: #d1d1d1;
}
p { 
    text-align: left;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}



  .estJefes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .estJefes img{
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.50);
    transition: ease-in-out .4s;
  }

  .estJefes :hover img{
    border-radius: 100%;
    background-color: #040b1a;
    opacity: 0.4;
    transition: ease-in-out .6s;
  }

  .estJefes :hover p{
    opacity: 1;
    transition: ease-in-out .4;
  }

  .estJefes p {
    text-align: center;
    opacity: 0;
    transition: ease-in .4s;
  }

  .principal{
    text-align: center;
  }
  .principal img{
    
    transition: ease-in-out .5s;
  }
  .principal :hover{
    width: 550px;
    opacity: 0.6;
    transition: ease-in-out .5s;
  }

  .orden{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 10px;
  }

  .orden img {
    border-radius: 5%;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.50);
    transition: ease-out .5s;
  }

  .orden :hover img {
    border-radius: 100%;
    opacity: 0.3;
    transition: ease-in-out .5s;
  }
  
  .orden p{
    text-align: left;
    margin-top: 50px;
  }

  .imagen {
    text-align: center;
  }
  .imagen img {
    border: 10px ridge #0f1011b4;
    
  }

  .indices {
    text-align: center;
  }