body{
    background-color: #040b1a;
}

.menu{
    border: 1px solid #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #182947;
    margin-left: 150px;
    margin-right: 150px ;
    color: #fff;
    text-shadow: 3px 3px 3px black;
}

.logo img{
    position: fixed;
    bottom: 4px;
    right: 6px;
    transition: ease-in-out .5s;
}

.logo :hover img{
    width: 100px;
    border-radius: 10%;
    background-color: #030814;
    transition: ease-in-out .5s;
}

.contacto img{
  position: fixed;
  bottom: 4px;
  left: 6px;
  transition: ease-in-out .5s;
}

.contacto :hover img{
  width: 100px;
  border-radius: 10%;
  background-color: #030814;
  transition: ease-in-out .5s;
}

.subTit{
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: #d1d1d1;
}
p { 
    text-align: left;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}



  .estJefes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .estJefes img{
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.50);
    transition: ease-in-out .4s;
  }

  .estJefes :hover img{
    border-radius: 100%;
    background-color: #040b1a;
    opacity: 0.4;
    transition: ease-in-out .6s;
  }

  .estJefes :hover p{
    opacity: 1;
    transition: ease-in-out .4;
  }

  .estJefes p {
    text-align: center;
    opacity: 0;
    transition: ease-in .4s;
  }

  .principal{
    text-align: center;
  }
  .principal img{
    
    transition: ease-in-out .5s;
  }
  .principal :hover{
    width: 550px;
    opacity: 0.6;
    transition: ease-in-out .5s;
  }

  .orden{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 10px;
  }

  .orden img {
    border-radius: 5%;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.50);
    transition: ease-out .5s;
  }

  .orden :hover img {
    border-radius: 100%;
    transition: ease-in-out .5s;
  }
  
  .orden p{
    text-align: left;
    margin-top: 50px;
  }

  .carrucel img {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  
  .imagen{
    text-align: center;
  }

  .imagen img {
    border: 10px ridge #0f1011b4;  
  }
  
  .carrucel img.oculto {
    opacity: 0;
  }

  .sigant {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sigant input{
    border-radius: 25%;
    font-size: 35px;
    color: black;
    border-color: #040b1a;
    background-color: #004aaa;
    height: 50px;
    width: 50px;
    transition: ease-in-out .4s;
  }

  .sigant :hover input{
    font-size: 35px;
    color: white;
    border-color: #004aaa;
    background-color: #040b1a;
    height: 50px;
    width: 50px;
    transition: ease-in-out .4s;
  }

  .indices {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


  .indices input{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 100%;
    border-color: #04003b;
    background-color: #375072;
    transition: ease-in .2s;
  }

  .indices :hover{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 100%;
    border-color: #04003b;
    background-color: #03002b;
    transition: ease-in .2s;
  }

  .indices input.activo {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 100%;
    border-color: #b6b6b6;
    background-color: #03002b;
    transition: ease-in .2s;

}




.formulario {
  text-align: center;
  margin: 40px;
  border-radius: 10px;
  background-color: #040b1ab7;
  border: 1px solid #fff;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.50);
}

.grupo{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  padding: 20px;
}


.formLabel {
  
  font-size: 24px;
  text-decoration: underline;
  text-shadow: none;
  padding-bottom: 10px;
}

.formInput{
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #b6b6b6;
  padding: 3px;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  transition: .3s ease all;
}

.formInput:focus{
  border: 7px ridge #2290ff;
  transition: .3s ease all;
}

.formInput-error{
  padding: 3px;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  transition: .3s ease all;
  border: 7px ridge #ff3300;
}

.formInput-correcto{
  padding: 3px;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  transition: .3s ease all;
  border: 7px ridge #6dd484;
}

.error{
    color: black;
    text-shadow: none;
    background-color: #ff6f4b;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 0px 10px #ff000096;
    display: none;
}

.error-activo{
  display: block;
}


.botonGrup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botonEnviar{
  height: 45px;
  line-height: 45px;
  width: 20%;
  font-size: 16px;
  font-weight: bold;
  background: #04003b;
  color: #fff;
  border-radius: 5px;
  border-color: #040b1a;
  background-color: #004aaa;
  transition: .1s ease all;
  margin-bottom: 10px;
}
.botonEnviar:hover{
  border-color: #004aaa;
  background-color: #040b1a;
  transition: .1s ease all;
  box-shadow: 3px 0px 30px #414040a4;
}

.envio{
  color: black;
    text-shadow: none;
    background-color: #6dd484;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 0px 10px #04ff0496;
    margin-bottom: 15px;
    display: none;
}

.envio-correcto{
  display: block;
}