body{
    background-color: #040b1a;
}

.menu{
    border: 1px solid #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #182947;
    margin-left: 150px;
    margin-right: 150px ;
    color: #fff;
    text-shadow: 3px 3px 3px black;
}

.margen {
    margin-left: 15px;
    margin-right: 15px;
}

#container {  
    display: flex;
    flex-direction: column;
    justify-content: Space-around;
}

#supContainer {
    display: flex;
    justify-content: space-around;
}

#logo {
    position: fixed;
    bottom: 3px;
    right: 6px;
    transition: width .2s;
}

#logo :hover img{
    width: 100px;
    transition: width .2s;
}

.subTit{
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

#indice{
    flex-grow: 4;
    padding-right: 10px;
    white-space: nowrap;
    border: 2px solid rgb(255, 255, 255)
}

a {
    text-decoration: none;
    color: #d1d1d1;
}

p {
    text-align: left;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

li {
    line-height: 2;
}

 
  .cont :hover img {
    opacity: 0.5;
    width: 240px;
    transition:  width .5s ;
  }

  .cont img{
    display: block;
    border-radius: 5px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.50);
  }

  .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: width .4s ;
  }

